/****************************************************
 *  Style-sheet for my PhD-defense
 *  Strongly inspired by the impress.js totorial from
 *   https://github.com/bartaz/impress.js/
 ****************************************************/

/****************************************************************
 *  These first couple lines are copy-pasted from the tutorial  *
 ****************************************************************/
/*
We start with a good ol' reset.
That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

You can probably argue if it is needed here, or not, but for sure it
doesn't do any harm and gives us a fresh start.
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
Now here is when interesting things start to appear.

We set up <body> styles with default font and nice gradient in the background.
And yes, there is a lot of repetition there because of -prefixes but we don't
want to leave anybody behind.
 */
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    /*Set a hex-color like this*/
    /*background: #7abfff;*/
    background: rgb(215,215,215);

    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}
/*
Now let's bring some text styles back ...
 */
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
Because the main point behind the impress.js demo is to demo impress.js
we display a fallback message for users with browsers that don't support
all the features required by it.

All of the content will be still fully accessible for them, but I want
them to know that they are missing something - that's what the demo is
about, isn't it?

And then we hide the message, when support is detected in the browser.
 */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
Now let's style the presentation steps.

We start with basics to make sure it displays correctly in everywhere ...
 */

.step {
    position: relative;
    width: 1000px;
    height:700px;
    padding: 90px 100px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    /*Let the text be not 100% black*/
    color: #555555;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px;
}

/* Basically we remove the margin and make inactive steps a little bit
transparent. */
.impress-enabled .step {
    margin: 0;
    opacity: 0.4;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*Style the substeps used by a fork of impress.js*/
.impress-enabled .substep {
    opacity: 0.1;
    -webkit-transition: all 1s;
    -moz-transition:    all 1s;
    -ms-transition:     all 1s;
    -o-transition:      all 1s;
    transition:         all 1s;
}
.impress-enabled .substep.active {
    opacity: 1;
}
.impress-enabled .substep.present {
    /*color: rgb(100, 135, 195);*/
}
.impress-enabled .substep.past {
    opacity: 0.3;
}

/*
These 'slide' step styles were heavily inspired by HTML5 Slides:
http://html5slides.googlecode.com/svn/trunk/styles.css

They cover everything what you see on first three steps of the demo.*/

.slide {
    display: block;

    width: 1000px;
    height: 700px;
    padding: 90px 100px; /* Extra space from top (90) and left side (100)*/

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}
/*******************************************************
 *  Done with the copy-paste (mostly), lets get jiggy  *
 *******************************************************/

/************************
 *  Some generel stuff  *
 ************************/
h1 {
    font-size: 40pt;
    text-align: center;
    line-height:45pt;
    padding-bottom:15px;
}
h2 {
    font-size: 35pt;
    text-align: center;
    line-height:35pt;
    padding-bottom:15px;
}
h3 {
    font-size: 30pt;
    text-align: center;
    line-height:25pt;
    padding-bottom:15px;
}
h4 {
    font-size: 20pt;
    text-align: center;
    line-height:15pt;
    padding-bottom:15px;
}
p{
    font-size:20pt;
    line-height:20pt;
}
sub {
    vertical-align:text-bottom;
    font-size:65%;
    line-height:100%;
}
sup {
    vertical-align:text-top;
    font-size:65%;
    line-height:100%;
}
/********************
 *  Table settings  *
 ********************/
table, th, td{
}
table{
    /*width:100%;*/
}
td{
    /*text-align:center;*/
    /*vertical-align:middle;*/
    /*height:80px;*/
}
/*****************
 *  Title slide  *
 *****************/
#title p{
    font-size:20pt;
    line-height:22pt;
}
/************************
 *  Introduction slide  *
 ************************/
#intro_slide table,
#intro_slide tr,
#intro_slide td,
#intro_slide th
{
    /*border:1px solid black;*/
}
.th{
    font-size:23pt;
    line-height:25pt;
    font-weight:bold;
    text-align:center;
}
#vitaly{
    width:250px;
    border-radius:10px;
    overflow: hidden;
    box-shadow:5px 5px 5px rgba(0,0,255,0.3);
    /*-webkit-transform: rotate(2deg);*/
}
#intro_slide .substep.past {
    opacity: 0.6;
}
/*****************************
 *  Zero-range models slide  *
 *****************************/
#zero_range_models_slide .substep.past{
    opacity:1;
}
/**************************************
 *  Hyperspherical coordinates slide  *
 **************************************/
#hyper_coords_slide p{
    font-size:25pt;
    line-height:25pt;
}
/*******************
 *  outline slide  *
 *******************/
/*List settings*/
#outline ul {
    list-style-type:circle;
    font-size:30pt;
    line-height:40pt;
}
/* Some play with scaling, this is copy paste from the demo slides

/* ... so we define display to `inline-block` to enable transforms and
    transition duration to 0.5s ... */
#outline span {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/* ... and 'scaling' to scale down after another quarter of a second. */
#outline.present .scale {
    -webkit-transform: scale(2.0);
    -moz-transform:    scale(2.0);
    -ms-transform:     scale(2.0);
    -o-transform:      scale(2.0);
    transform:         scale(2.0);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}
/************************
 *  hyper_coords_slide  *
 ************************/
#hyper_coords_slide th{
    font-size:25pt;
}
/*************************
 *  Recombination slide  *
 *************************/
.impress-enabled .substep {
    opacity: 0.1;
    -webkit-transition: all 0s;
    -moz-transition:    all 0s;
    -ms-transition:     all 0s;
    -o-transition:      all 0s;
    transition:         all 0s;
}
#recombination_slide .substep.past{
    opacity:1;
}


/********************
 *  Optical model  *
 ********************/
.figure-container {
    box-sizing: border-box;
    width: 850px;
    height: 550px;
    padding: 15px 15px 15px 15px;
    /*margin: 15px auto 30px auto;*/
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
/*Typeset the legend*/
.figure-container table, th, td{
    background:transparent;
}
.figure-container td{
    text-align:left;
    vertical-align:middle;
}
.fixed{
    table-layout:fixed;
    width:100%;
}
/********************
 *  Figure 2 slide  *
 ********************/
/******************************
 *  Finite temperature slide  *
 ******************************/
#finite_temperature ul{
    list-style-type:circle;
    font-size:20pt;
    line-height:30pt;
}
/***************************
 *  Mass-imbalanced slide  *
 ***************************/
#mass_imbalanced_slide table{
    table-layout:fixed;
    width:100%;
}
#mass_imbalanced_slide .substep {
    opacity: 0.3;
}
#mass_imbalanced_slide .substep.active {
    opacity: 1;
}
#mass_imbalanced_slide ul{
    list-style-type:circle;
    font-size:24pt;
    line-height:45pt;
}

/***************************
 *  efimov_spectrum_slide  *
 ***************************/
table, tr,td{
    /*border:1px solid black;*/
}

/**************************************************
 *  The overview slide with the thank you notice  *
 **************************************************/
#overview{
    display: block;

    width: 600px;
    height: 150px;
    padding: 10px 100px;

    /*background-color: white;*/
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
}
